PUBLIC_SITE_URL=https://waffletalk.vercel.app
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-08-15
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
